* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-main);
  color: var(--color-text);
  background: var(--color-page);
  font-size: 18px;
}

button,
input {
  font: inherit;
}

h1,
h2,
p {
  margin-top: 0;
}
